

/* Icons for buttons */
button {
    &.billing-system-product-sync-btn {
        height: 30px;
        width: auto;
        background-repeat: no-repeat;
        background-position: 5px 50%;
        margin-bottom: 15px
    }
}